@import url('https://fonts.googleapis.com/css?family=Lato');
/* tutorial based from Traversy Media */

html, body
{
	height:100%;
	margin:0;
	font-size:16px;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:#666;
}

.pimg1, .pimg2, .pimg3
{
	position:relative;
	opacity:0.7;
	background-position: center; /* centers img when loaded as background-image */
	background-size:cover;
	background-repeat:no;

	/* fixed = parallax 
		scroll = normal */
	background-attachment: fixed;
}

.pimg1
{
	background-image:url("./images/beach.jpg");
	min-height:100%;
}

.pimg2
{
	background-image:url("./images/beach2.jpg");
	min-height:400px;
}

.pimg3
{
	background-image:url("./images/hawaii-sky.jpg");
	min-height:400px;
}

.section 
{
	text-align:center;
	padding: 50px 80px;
}

.section-light
{
	background-color:#f4f4f4;
}

.section-dark
{
	background-color: #d3d3d3;
}

.ptext
{
	position:absolute;
	top:50%;
	width:100%;
	text-align: center;
	color:#f4f4f4;
	font-size:24px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border
{
	background-color:#111;
	color:#f4f4f4;
	padding:20px;
}

.ptext .border.trans
{
	background-color:transparent;
}

@media(max-width: 568px)
{
	.pimg1, .pimg2, .pimg3
	{
		background-attachment: scroll;
	}
}